input[type="text"],
input[type='number'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='tel'],
input[type='date'],
textarea,
select,
button{
	font-family:  $primary-font;
}

input,
textarea,
select{
	&.wpcf7-text{
		@include transition(all 0.25s ease);
		border-width: 0 0 5px 0;
		border-color: $primary-color;
		box-shadow: none;
		background: $grey;
		color: $primary-color;
		width: 100%;
		padding: 10px 5px 5px 20px;
		margin-bottom: 20px;

		&:focus,
		&:active{
			background: darken($white, 5%);
			border-color: darken($white, 15%);
		}
	}
}